@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-shadow {
    text-shadow: 0.3rem 0.3rem 2px theme('colors.gray-light');
  }

  /* ... */

  /* Scrolbar */

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-600
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-cyan-500
  }

  ::-moz-selection {
    background: rgba(0, 185, 170, 0.651);
  }

  ::selection {
    background: rgba(0, 185, 170, 0.651);
    }
}